body {
    background-color: #f4f4f4;
}

.container {
    padding: 40px;
}

/* Header*/

.header {
    width: auto;
    margin: auto;
    padding-bottom: 2rem;
}

#main-page-header {
    background-color: #fd376c; 
    padding: 2rem;
    position: relative;
}

#logo {
    color: white;
    text-align: center;
    font-size: 4.5rem; 
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    margin: 0;
    line-height: 100px;
}
        
#logotekst { 
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;  
    font-size: 1.1rem;
    font-weight: 300;
}

/* Tittel og idee-boks*/
#tittel-tekst, #idee-tekst {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    display: block;
    width: 40%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

/* Button*/

#tittel-btn, #idee-btn {
    border-radius: 5px;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 80px;
    background-color: #8d8d8d;
    color: white;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    cursor: pointer;
}

#tittel, #ideer, #forkast {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 15px;
    color: #404040;
}

.idee, .forkastet{
    padding: 0.3rem;
    color: #fd376c;
}











