body {
    background-color: #F4E3E5;
}

img {
    width: auto;
    height: 300px;

}  

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 400px;
}
