body {
    background-color: #F4E3E5;
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

main {
    padding-bottom: 95px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

img {
    width: auto;
    height: 300px;
} 

#output {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#container {
    min-height:100%;
    position:relative;
 }

#btn-div {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 400px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    background-color: #FAF0DC;
    color:#333;
    font-size: 0.8rem;
}
