body {
    background-color: #E1EEED;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    color: #828A95;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    color: #BFB8A6;
}


p {
    font-family: 'Roboto', sans-serif, 700;
    width: 600px;
    text-align: justify;
    margin: auto;
    padding-bottom: 30px;
    color: #828A95;
}

#slider {
    width: 200px;
    height: 20px;
}
